header {
    background-image: url(../img/relaxing-tropical-beach-white-sand-stack-stones-background-banner-relaxing-tropical-beach-white-181543784.jpg);
    background-size: cover;
    padding: 25px;
    height: 200px;
    nav a {
        padding-right: 80px;
        margin: -10px;
      }
      .navbar {
        background-color: transparent;
      }
      
      .nav-link {
        display: flex;
        width: 200px;
      }
      
    
      
      a {
        color: orangered;
        text-decoration: none;
        font-family: "Raleway", sans-serif;
        font-weight: bolder;
      }
  }
  

  

