li {
  list-style-type: none;
}
.foto {
  border-radius: 80%;
  text-align: center;
}

h1 {
  color: $color-principal;
  text-align: $alineacion;
  font-family: "Square Peg", cursive;
  font-size: 70px;
  margin: $margin;
  padding: 0%;
}
main {
  text-align: center;
  padding: auto;
  width: 100%;
  height: 1300px;
  background-color: rgb(236, 231, 217);

  p {
    color: rgb(207, 184, 85);
  }
}

.cajagrid {
  display: grid;
  width: auto;
  grid-template-areas:
    "foto"
    "lista";
  grid-template-rows: 400px 500px;
  grid-template-columns: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 20px;
}

.foto {
  grid-area: foto;
  height: 300px;
  padding-top: 10px;
}
.lista {
  grid-area: lista;
  height: 700px;
  text-align: center;
}
.d-block {
  width: 100%;
  height: auto;
}

.quienessomos {
  padding-top: 150px;
}

//pagina ubicacion

.ubicacion {
  padding-top: 150px;
}

//pagina contacto//

.contacto {
  padding-top: 150px;
  text-align: center;
}

//pagina multimedia//

.gridpadremultimedia {
  display: grid;
  grid: template columns 1fr 1fr;
  padding-top: 200px;
  row-gap: 50px;
  object-fit: cover;
  grid-template-areas: "foto video" "foto video";
}

.imagenesmultimedia { 
  display: flex;
  flex-direction: column;

  grid-area: foto;
  width: 100%;
}

.video {
  grid-area: video;
  width: max-content;
}

@media (min-width:468px) and (max-width:730px) {
  .gridpadremultimedia {
    display: grid;
    grid: template columns 1fr 100%;
    padding-top: 200px;
    row-gap: 50px;
    object-fit: cover;
    grid-template-areas: "foto" "video";
    
  }


}

@media(max-width:467px) { 
  .gridpadremultimedia {
    display: grid;
    grid: template columns 1fr 100%;
    padding-top: 200px;
    row-gap: 50px;
    object-fit: cover;
    grid-template-areas: "foto" "video";
    
  }
  
  .body {
    width: 200%
  };

}

