@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200&family=Noto+Sans+KR:wght@100&family=Raleway:wght@200&family=Square+Peg&display=swap");
@import "variables";
@import "header";
@import "main";
@import "maps";
@import "extend";
@import "mixin";

* {
  margin: 0;
  padding: 0;
}

body { width: auto;}

footer {
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: auto;
  justify-content: center;
  text-align: center;
}
